.hero{
    height: 100vh;
    background: linear-gradient(180deg, #95d6a4 0%, white 60%);
    display: flex;
   /* transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;*/
}

.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 180px;
    line-height: 1.1;
}
.hero-left h2{
    font-size: 26px;
    font-weight: 600;
    color: #171717;
}
.hero-tag p{
    font-size: 70px;
    font-weight: 600;
    color: #626262;
}
.hero-latest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #95d6a4;
    color: white;
    font-size: 22px;
    font-weight: 400;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.hero-latest-btn:hover{
    background: #ccf49f;
}

.hero-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-right img{
    width: 60%;
    height: auto;
    object-fit: cover;
}

@media(max-width:1280px){
    .hero-left{
        padding-left: 100px;
    }
    .hero-left h2{
        font-size: 22px;
    }
    .hero-left p{
        font-size: 60px;
    }
    .hero-latest-btn{
        gap: 10px;
        width: 250px;
        height: 60px;
        margin-top: 20px;
        font-size: 18px;
    }
}
@media(max-width:1024px){
    .hero-left{
        padding-left: 80px;
    }
    .hero-left h2{
        font-size: 20px;
    }
    .hero-latest-btn{
        width: 220px;
        height: 50px;
        font-size: 16px;
    }
    .hero-latest-btn img{
        width:auto;
        height: 35px;
    }
}
@media(max-width:800px){
    .hero-left{
        padding-left: 30px;
    }
    .hero-left h2{
        font-size: 16px;
    }
    .hero-left p{
        font-size: 40px;
    }
    .hero-latest-btn{
        width: 175px;
        height: 40px;
        font-size: 13px;
    }
    .hero-latest-btn img{
        width:auto;
        height: 25px;
    }
}
@media(max-width:500px){
    .hero{
        flex-direction: column;
        padding: 30px;
        text-align: center;
        align-items: center;
    }
    .hero-left {
        align-items: center; /* Centruje elementy w poziomie */
        padding-left: 0; /* Usuwa padding z lewej */
    }
    .hero-left h2{
        font-size: 18px;
    }
    .hero-left p{
        font-size: 50px;
    }
    .hero-latest-btn{
        width: 200px;
        height: 45px;
        font-size: 14px;
    }
    .hero-latest-btn img{
        width:auto;
        height: 30px;
    }
    .hero-right{
        display: none;
    }
}